body {
    font-family: Arial, sans-serif;
    background: rgb(28, 0, 78);
    background: linear-gradient(0deg, rgba(28, 0, 78, 1) 0%, rgba(53, 9, 121, 1) 35%, rgba(133, 0, 255, 1) 100%);
    background-size: cover;
    /* Faz o fundo cobrir a tela */
    background-attachment: fixed;
    /* Mantém o fundo fixo enquanto a página é rolada */
    padding: 0 5%;
}

h1 {
    color: white;
    font-size: bold;
    text-transform: uppercase;
}

h2 {
    color: #7C7DF8;
    font-size: bold;
}

h3 {
    color: white;
    font-size: bold;
    font-style: italic;
}

input[type="text"] {
    padding: 8px;
    width: 25%;
    margin: 10px 0;
    border: 1px solid #2a2833;
    border-radius: 6px;
    background-color: #0E0D11;
    color: #EDEC8D;
}

button {
    padding: 10px 20px;
    background-color: #7C7DF8;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9797ff;
}

img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

ul {
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}


.container {
    color: #B3AFC0;
    max-width: 800px;
    margin: 50px auto;
    padding: 5%;
    background-color: #1D1B22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.flash-messages {
    list-style: none;
    padding: 0;
}

.flash-messages .warning {
    color: #ff9800;
}

.flash-messages .danger {
    color: #f44336;
}

.highlight {
    color: #F4E95A;
}